#contact {
	background-color: #333;
	color: #fff;
}
#contact header.section-header h2 {
	color: hsl(0, 0%, 100%);
	text-align: center;
}

#contact small#copyright {
	margin-top: auto;
	padding: 1rem;
	color: #fff;
	text-align: center;
}

#contact form {
	display: flex;
	flex-direction: column;
	width: 87%;
	max-width: 400px;
	margin: auto;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
	appearance: none;
	-webkit-appearance: none;
	padding: 0.5rem;
	border: none;
	border-bottom: 1px solid hsl(0, 0%, 46%);
	margin: 1rem 0;
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: 2;
	resize: none;
}

form select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	padding: 0.5rem;
	border: none;
	border-bottom: 1px solid hsl(0, 0%, 46%);
	margin: 1rem 0;
	background: none;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='hsl(0, 0%, 46%)'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
	background-repeat: no-repeat, repeat;
	background-position: right 0.5rem top 50%, 0 0;
	background-size: 1.1rem auto, 100%;
	border-radius: 0;
	color: hsl(0, 0%, 46%);
	font-size: inherit;
	font-family: inherit;
	line-height: 2;
}
form select::-ms-expand {
	display: none;
}
form select:hover {
	border-color: #888;
}
form select option {
	font-weight:normal;
}

form textarea {
	resize: none;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form select:focus,
form textarea:focus {
	outline: none;
}

form input[type="submit"] {
	appearance: none;
	-webkit-appearance: none;
	padding: 0.5rem;
	margin-top: 1rem;
	border: none;
	background: none;
	background-color: #00b4ab;
	border-radius: 4px;
	box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
	color: inherit;
	font-family: 'Saira', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}