header#site-header {
	position: relative;
	flex: 1 0 100vh;
	display: flex;
	flex-direction: column;
	min-height: 66.6667vw;
	max-height: 200vw;
	z-index: 0;
	color: #fff;
}
header#site-header::before {
	content: "";
	background-color: #000;
	opacity: 0.5;
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
header#site-header #site-branding {
	z-index: 1;
	margin: auto 0;
	color: hsl(0, 0%, 100%);
	text-align: center;
}
header#site-header a {
	color: inherit;
	text-decoration: none;
}
img#logo {
	width: 90%;
	max-width: 420px;
}
h1#site-title {
	margin: 0;
}
h4#slogan {
	margin: 0;
}
header#site-header footer {
	display: none;
	width: 100%;
	z-index: 1;
	box-sizing: border-box;
	padding: 1rem;
}

@media screen and (min-width: 500px) {
	header#site-header {
		max-height: 150vw;
	}
	img#logo {
		width: 60%;
		max-width: 600px;
		min-width: 420px;
	}
}

@media screen and (min-width: 1200px) {
	header#site-header {
		flex-basis: 50%;
		min-height: auto;
		max-height: none;
	}
	header#site-header footer {
		display: initial;
	}
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:500,600|Saira:300,400,600&display=swap');

html, body {
	color: hsl( 0, 0%, 29% );
	font-family: 'Saira', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

h1, h2, h3, h4 {
	font-family: 'Saira Condensed', sans-serif;
	font-weight: 500;
}

h1#site-title {
	font-size: 3rem;
	line-height: 1;
}

h4#slogan {
	width: 90%;
	font-size: 1.25rem;
	font-weight: 400;
	margin: 0 auto;
}

@media screen and ( min-width: 500px ) {
	h1#site-title {
		font-size: 4.5rem;
	}
	h4#slogan {
		font-size: 1.5rem;
	}
}

/* @media screen and ( min-width: 800px ) {
	h4#slogan {
		font-size: 2.5vw;
	}
} */

@media screen and (min-width: 1200px) {
	h4#slogan {
		font-size: 1.5rem;
	}
}

/* @media screen and ( min-width: 1600px ) {
	h4#slogan {
		font-size: 1.25vw;
	}
}

@media screen and (min-width: 2000px) {
	h4#slogan {
		font-size: 25px;
	}
} */