header#site-header {
	position: relative;
	flex: 1 0 100vh;
	max-height: 860px;
	display: flex;
	flex-direction: column;
	z-index: 0;
	color: #fff;
}
header#site-header::before {
	content: "";
	background-color: #000;
	opacity: 0.5;
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
header#site-header #site-branding {
	z-index: 1;
	margin: auto 0;
	color: hsl(0, 0%, 100%);
	text-align: center;
}
header#site-header a {
	color: inherit;
	text-decoration: none;
}
img#logo {
	width: 75%;
	min-width: 288px;
	margin-bottom: 0.5rem;
}
h1#site-title {
	margin: 0;
}
h4#slogan {
	margin: 0;
	text-align: center;
}
header#site-header footer {
	display: none;
	width: 100%;
	z-index: 1;
	box-sizing: border-box;
	padding: 1rem;
}

@media screen and ( min-width: 1200px ) {
	header#site-header {
		flex-basis: 50%;
		max-height: none;
	}
	header#site-header footer {
		display: initial;
	}
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:500,600|Saira:300,400,600&display=swap');

html, body {
	color: hsl( 0, 0%, 29% );
	font-family: 'Saira', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

h1, h2, h3 {
	font-family: 'Saira Condensed', sans-serif;
	font-weight: 500;
}

h1#site-title {
	font-size: 3rem;
	line-height: 1;
}

h4#slogan {
	font-size: 1.25rem;
	font-weight: 400;
}

@media screen and ( min-width: 500px ) {
	h1#site-title {
		font-size: 4.5rem;
	}
}