.section-wrapper {
	max-width: 900px;
	padding: 32px 0;
	margin: 0 6.5%;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}
section:last-of-type .section-wrapper {
	border-bottom: none;
}

.panel-wrapper {
	padding: 64px 0;
}

header.section-header h2 {
	margin: 1rem 0 2rem;
}

div.section-content {
	font-size: 1rem;
	line-height: 1.7;
	word-wrap: break-word;
}

.read-more {
	margin: 2rem 0 1rem;
}
.read-more a {
	color: hsl(0, 0%, 45%);
	text-decoration: none;
}
.read-more a:hover {
	text-decoration: underline;
}

.thumbnails {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 32px 0 0;
}

.thumbnail-wrapper {
	flex: 0 0 100%;
	max-width: 400px;
	border-radius: 50%;
}

.thumbnail {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 66.66%;
	margin: 1rem 0.5rem;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
	overflow: hidden;
	filter: grayscale( 100% );
}
.thumbnail .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsla(0, 0%, 0%, 0.2);
	padding: 1rem;
	text-align: center;
}
.thumbnail .overlay h3 {
	margin: 0;
	color: #fff;
	font-size: 1.5rem;
}

@media screen and ( min-width: 500px ) {
	header.section-header h2 {
		font-size: 1.75rem;
	}
	.section-wrapper {
		padding: 6.5% 0;
	}
	.panel-wrapper {
		padding: 13% 0;
	}
	.thumbnails {
		margin: 6.5% auto 0;
	}
}

@media screen and ( min-width: 768px ) {
	header.section-header h2 {
		font-size: 2rem;
	}
	.thumbnails {
		width: 95%;
	}
	.thumbnail-wrapper {
		flex: 0 0 calc( 50% - 1rem )
	}
}

@media screen and ( min-width: 1034px ) {
	#sections{
		padding-top: calc( ( 100% - 900px - 13% - 2rem ) / 2 )
	}
	.section-wrapper {
		margin: 0 auto;
	}
} 

@media screen and ( min-width: 1200px ) {
	.section-wrapper {
		margin: 0 6.5%;
	}
	.panel-wrapper {
		padding: 13% 0;
	}
	.thumbnails {
		margin: 6.5% auto 0;
	}
	.thumbnail-wrapper {
		flex: 0 0 100%;
	}
}


@media screen and ( min-width: 1536px ) {
	.thumbnail-wrapper {
		flex: 0 0 calc( 50% - 1rem )
	}
}

@media screen and ( min-width: 2068px ) {
	#section-container{
		padding-top: calc( ( 100% - 900px - 13% - 2rem ) / 2 )
	}
	.section-wrapper {
		margin: 0 auto;
	}
}

/* fonts */

header.section-header h2 {
	font-size: 1.5rem;
	text-transform: capitalize;
}

.read-more {
	font-weight: 300;
}

@media screen and ( min-width: 500px ) {
	header.section-header h2 {
		font-size: 1.75rem;
	}
}

